/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
//====================================================================================================>

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

//====================================================================================================>

.wrapper {
  font-family: "Montserrat";
  min-height: 100%;
  overflow: hidden;
}

.page {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

//====================================================================================================>

.header {

  position: relative;
  padding: 0 0 0 0;
  background: rgb(239, 240, 242) url("img/header/icon.png");
  background-size: 75px 75px;
  background-position: 80% 80%;
  background-repeat: no-repeat;

  // .header__logo
  &__logo {
    position: absolute;
    left: 150px;
    top: 64px;
  }

  // .header__body
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 318px 0 0 0;
  }

  // .header__body-title
  &__body-title {
    text-align: center;
    font-size: 45px;
    color: rgb(80, 80, 80);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 56px;
    text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
    margin: 0 0 120px 0;

    p {
      span {
        background-color: rgb(178, 242, 238);
      }
    }
  }

  // .header__body-button
  &__body-button {
    padding: 20px 50px;
    border: 2px solid rgb(120, 120, 120);
    margin: 0 0 200px 0;
    color: rgb(80, 80, 80);
    font-size: 18px;
    line-height: 1.556;
    text-transform: uppercase;
    font-weight: 400;

    &:hover {
      background-color: rgb(120, 120, 120);
      color: white;
      animation-name: hover_bg_title-btn;
      animation-duration: 0.3s;
    }

    @keyframes hover_bg_title-btn {
      from {
        color: rgb(80, 80, 80);
        background-color: white;
      }
      to {
        background-color: rgb(120, 120, 120);
        color: white;
      }
    }
  }
}

@media (max-width: 930px) {
  .header{
    background-position: 90% 90%;
  }
}

//====================================================================================================>

.about {
  background-color: rgb(248, 250, 250);

  // .about__title
  &__title {
  }

  // .about__row
  &__row {
    display: flex;
    justify-content: center;
    padding: 0 0 150px 0;
  }

  // .about__column
  &__column {
    flex: 0 1 50%;

  }


  // .about__column-img
  &__column-img {
    display: block;
    position: relative;
    padding: 0;

  }

  // .about__img
  &__img {

    position: absolute;
    height: 100%;
    width: 422px;
    //width: 74.036%;
    top: 0;
    left: 5%;

    background: url("img/about/Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13);
  }

  // .about__body
  &__body {
    width: 475px;
    padding: 0 0 150px 52px;
  }

  // .about__column-blog
  &__column-blog {
    //padding: 0 0 160px 0;
    //margin: 0 0 0 134px;


    h2 {
      font-size: 20px;
      font-family: "Merriweather";
      color: rgba(0, 0, 0, 0.749);
      font-weight: 700;
      text-transform: uppercase;
      line-height: 28px;
      margin: 0 0 20px 0;

    }

    p {
      font-size: 16px;
      font-family: "Raleway";
      color: rgba(0, 0, 0, 0.741);
      line-height: 28px;
      margin: 0 0 20px 0;


    }

    h3 {
      font-size: 17px;
      font-family: "Merriweather";
      color: rgba(0, 0, 0, 0.749);
      font-weight: 700;
      text-transform: uppercase;
      line-height: 28px;
      margin: 0 0 20px 0;

    }
  }


}

.title {
  padding: 130px 0;

  h2 {
    margin: 0 0 20px 0;
    font-size: 38px;
    color: rgba(0, 0, 0, 0.902);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 38px;
    text-align: center;
  }

  p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.62);
    text-transform: uppercase;
    line-height: 24px;
    text-align: center;
    margin: 0 0 20px 0;
    font-family: "Merriweather";
  }
}

@media (max-width: 930px) {
  .title {
    padding: 70px 0;

  }
  .about__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 0 0 100px 0;
  }
  .about__body {
    width: 70%;
    padding: 0 0 70px 0;
    text-align: center;
    margin: 0 auto;
  }
  .about__column-blog {
    order: 1;
    flex: 0 0 475px;

  }
  .about__column-img {
    flex: 0 1 422px;
    margin: 0 15px;
    order: 2;
    padding: 0 0 100% 0;
    text-align: center;
  }
  .about__img {
    left: 0;
    width: 100%;
  }

}

//====================================================================================================>

.featured {

  // .featured__body
  &__body {

  }

  // .featured__title
  &__title {
    p {
      font-size: 17px;
    }
  }

  // .featured__blog
  &__blog {

  }
}

.blog-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // .blog-img__row
  &__row {
    flex: 0 1 33.333%;
  }

  // .blog-img__column
  &__column {

    margin: 0 0 12px 0;
  }

  // .blog-img__item
  &__item {
    height: auto;
    padding: 0 0 100% 0;
  }

  // .blog-img__item-l
  &__item-l {
    padding: 0 0 117.9% 0;

    &:hover {
      .image-info {
        opacity: 1;
        visibility: visible;
        animation-name: hover_visable_imginfo;
        animation-duration: 0.5s;
      }
    }

    @keyframes hover_visable_imginfo {
      from {
        opacity: 0;
        visibility: hidden;
      }
      to {
        opacity: 1;
        visibility: visible;
      }
    }
  }

}

//====================================================================================================>

.item {
  display: block;
  position: relative;
  height: 100%;
  // .item__image-s
  &__image-s {
    position: absolute;
    width: 94.48%;
    height: 97.374%;
    top: 6px;
    left: 10.5px;
    z-index: 2;
  }

  // .item__image-l
  &__image-l {
    position: absolute;
    width: 96.85%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;


  }

  // .item__image-info
  &__image-info {

  }
}

.image-info {
  position: absolute;
  height: 50%;
  width: 91.534%;
  top: 44%;
  left: 3%;
  z-index: 3;
  opacity: 0;
  visibility: hidden;

  // .image-info__container
  &__container {
    max-width: 246px;
    margin: 0 0 0 40px;
  }

  // .image-info__body
  &__body {
    position: relative;
    background-color: rgb(109, 246, 235);
    opacity: 0.98;
    box-shadow: 0px 7px 16px 0px rgba(20, 20, 21, 0.18);
    padding: 40px 0;

    &:after {
      content: '';
      position: absolute;
      top: -20px;
      left: 21px;
      width: 0;
      height: 0;
      margin: 0 0 0 0;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-bottom: 22px solid rgb(109, 246, 235);

    }


  }


  // .image-info__title
  &__title {
    font-size: 20px;
    font-family: "Merriweather";
    color: rgba(39, 39, 39, 0.949);
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0 0 16px 0;

    span {
      text-transform: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      font-style: italic;
    }


  }

  // .image-info__text
  &__text {
    font-size: 16px;
    font-family: "Raleway";
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5;
    text-align: left;
    margin: 0 0 35px 0;
  }

  // .image-info__social
  &__social {
    display: flex;

    a {
      display: block;
      margin: 0 12px 0 0;
    }
  }
}


.img1 {

  background: url("img/featured/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img2 {
  background: url("img/featured/img2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img3 {
  background: url("img/featured/img3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img4 {
  background: url("img/featured/img4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img5 {
  background: url("img/featured/img5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img6 {
  background: url("img/featured/img6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img7 {
  background: url("img/small_team/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img8 {
  background: url("img/small_team/img2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img9 {
  background: url("img/small_team/img3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img10 {
  background: url("img/small_team/img4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img11 {
  background: url("img/small_team/img5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img12 {
  background: url("img/small_team/img6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 930px) {
  .blog-img__row {
    min-width: 330px;
  }
  .blog-img__row {
    flex: 0 1 60%;
  }
}

//====================================================================================================>

.team {
  background-color: rgb(249, 251, 251);
  // .team__body
  &__body {

  }

  // .team__title
  &__title {

  }

  // .team__blog
  &__blog {
    padding: 0 0 180px 0;
  }
}

//====================================================================================================>

.formmaps-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url("img/formmaps/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.08;
}

.formmaps {
  background-color: rgb(248, 250, 251);
  padding: 130px 0;
  position: relative;

  // .formmaps__body
  &__body {

    display: flex;
    justify-content: space-between;
  }

  // .formmaps__column-form
  &__column-form {
    background-color: rgba(2, 22, 35, 0.71);
    box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.12);
    flex: 0 1 615px;
    margin: 0 45px 0 -20px;
    z-index: 5;

  }

  // .formmaps__column-maps
  &__column-maps {
    padding: 36px 23px 19px 22px;
    background-color: rgba(2, 22, 35, 0.71);
    box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.12);
    flex: 0 1 500px;
    z-index: 5;

  }
}

.form {
  // .form__body
  &__body {
    padding: 0 0 0 54px;
  }

  // .form__text
  &__text {
    margin: 32px 0 0 0;

    p {
      font-size: 15px;
      font-family: "Raleway";
      color: rgba(255, 255, 255, 0.6);
      line-height: 24px;
      margin: 36px 0 0 0;
    }

    input {
      display: block;
      background: none;
      border-bottom: 1px solid rgb(110, 121, 129);
      width: 97%;
      margin: 0 0 30px -4px;
      color: white;

    }

    textarea {
      display: block;
      background: none;
      border-bottom: 1px solid rgb(110, 121, 129);
      width: 97%;
      color: white;
      resize: none;
      margin: 0 0 0 -4px;
    }
  }

  // .form__botton
  &__botton {
    margin: 40px 0 43px 0;
  }

  // .form__btn
  &__btn {
    height: 53px;
    width: 244px;
    font-size: 18px;
    font-family: "Montserrat";
    opacity: 1;
    text-transform: uppercase;
    line-height: 1.556;
    border-radius: 2px;
    background-color: rgba(110, 238, 228, 1);

    &:hover {
      background-color: rgb(38, 43, 46);
      color: white;

      animation-name: hover_form-btn;
      animation-duration: 0.3s;
    }
  }

  @keyframes hover_form-btn {
    from {
      background-color: rgba(110, 238, 228, 1);
      color: black;
    }
    to {
      background-color: rgb(38, 43, 46);
      color: white;
    }
  }
}

.column-maps {
  // .column-maps__text-maps
  &__text-maps {
    margin: 0 0 24px 0;
  }

  // .column-maps__maps
  &__maps {

  }
}

.maps {
  position: relative;
  height: 52.46%;
  // .maps__img
  &__img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url("img/formmaps/GoogleMap.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.text-maps {
  // .text-maps_block1
  &_block1 {
    p {
      font-size: 15px;
      font-family: "Raleway";
      color: rgba(255, 255, 255, 0.702);
      line-height: 24px;
      margin: 0 0 4px 0;
    }

    margin: 0 0 24px 0;

  }

  // .text-maps_block2
  &_block2 {
    p {
      font-size: 15px;
      font-family: "Raleway";
      color: rgba(255, 255, 255, 0.702);
      line-height: 24px;
      margin: 0 0 6px 0;
    }

  }
}

@media (max-width: 930px) {
  .formmaps {
    padding: 70px 0;
  }
  .formmaps__body {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .formmaps__column-form {
    margin: 0 0 70px 0;
  }
  .column-maps__maps {
    padding: 0 0 60% 0;
  }
  .formmaps__column-maps {
    flex: 0 1 615px;
  }
}

//====================================================================================================>

.footer {
  background-color: rgb(38, 43, 46);
  // .footer__body
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 92px 0 0 0;
  }

  // .footer__title
  &__title {
    margin: 0 0 19px 0;

    h2 {
      font-size: 16px;
      font-family: "Raleway";
      color: rgba(255, 255, 255, 0.8);
      line-height: 1.563;
      text-transform: uppercase;
    }
  }

  // .footer__social
  &__social {
  }
}

.social {
  display: flex;
  justify-content: center;
  margin: 0 0 150px -8px;
  // .social__icon
  &__icon {
    margin: 0 0 0 8px;
    display: block;
    position: relative;
    height: 40px;
    width: 46px;
    background-color: rgb(138, 138, 138);
    opacity: 0.4;

  }

  &__icon:hover {
    background-color: rgb(113, 246, 235);
    animation-name: hover_bg_social;
    animation-duration: 0.3s;
  }

  @keyframes hover_bg_social {
    from {
      background-color: rgb(138, 138, 138);
    }
    to {
      background-color: rgb(113, 246, 235);
    }
  }
}


.img-social1 {
  position: absolute;
  height: 22px;
  width: 17px;
  top: 9px;
  left: 14px;
}

.img-social2 {
  position: absolute;
  height: 18px;
  width: 21px;
  top: 10px;
  left: 13px;
}

.img-social3 {
  position: absolute;
  height: 22px;
  width: 12px;
  top: 8px;
  left: 16px;
}

.img-social4 {
  position: absolute;
  height: 21px;
  width: 21px;
  top: 9px;
  left: 12px;
}